button {
  border: solid 1px #47080d;
  background-color: #cc7373;
  color: #e00a0a;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: larger;
  transition: transform 0.3s ease-in-out;
}
.score-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: #cc7373;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.game-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #cc7373;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  text-align: center;
  font-size: 1rem;
  color: #701d08;
  background-color: #cc7373;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-family: "Macondo Swash Caps", cursive;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #701d08;
  background-color: #cc7373;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #701d08;
  background-color: #cc7373;
  margin-top: 0;
  margin-bottom: 0;
}

.log {
  display: flex;
  justify-content: flex-start;
  background-color: #cc7373;
  font-size: x-large;
  color: #701d08;
  padding: 50px 10px;
  border: solid;
  border-radius: 10px;
}

body {
  background-color: #af5555;
  margin: 0;
  padding: 0;
}
